<h1>Editar Mascota  - <%= mascotaAEditar.nombre %></h1>

<div class="row">
    <div class="col-sm-5">

        <form action="/Usuario/EditarMascota" method="post">
            <div class="form-group">
                <label>Nombre:</label>
                <input type="text" class="form-control" placeholder="Ingrese el Nombre de la Mascota" name="nombre" value="<%= mascotaAEditar.nombre %>">
            </div>
            
            <div class="form-group">
                <label>Fecha de Nacimiento</label>
                <input type="text" class="form-control" placeholder="Ingrese la fecha de nacimiento" name="fechaNacimiento" value="<%= mascotaAEditar.fechaNacimiento %>">
            </div>

            <div class="form-group">
                <label>Pais de Nacimiento</label>
                <select class="form-control" name="paisNacimiento">
                  <option value='Ecuador'>Ecuador</option>
                  <option value='Peru'>Peru</option>
                  <option value='Colombia'>Colombia</option>
                </select>

                <input type="hidden" name="idMascota" value="<%= mascotaAEditar.id %>">
            </div> 
            
            <div class="form-group">
                <label for="">Raza</label>

                    <select class="form-control" name="idRaza">
                        <% for(var i=0; i<razas.length; i++){ %>
                        <option value='<%=razas[i].id%>'>
                          <%=razas[i].nombre%>
                        </option>
                        <%  } %>
                    </select>
            </div>
            <button type="submit" class="btn btn-success btn-block">Editar Mascota :)</button>
        </form>

    </div>
    <div class="col-sm-2"></div>

    <div class="col-sm-5 text-center">
      <h3 class="text-center"> ID: <%=mascota.id%> -  <%=mascota.nombre%></h3>
      <h4 class="text-center"> Dia: <%=mascota.fechaNacimiento.getDay()%> Mes: <%=mascota.fechaNacimiento.getMonth()%> Año: <%=mascota.fechaNacimiento.getFullYear()%></h4>
      <p class="text-center">
        <%= mascota.paisNacimiento %>
      </p>
    </div>
</div>